[submodule "docs-site"]
	path = docs-site
	url = git@github.com:fxprime/course_esp32_basic.git
	branch = main
[submodule "courses/esp32_basic"]
	path = courses/esp32_basic
	url = https://github.com/fxprime/course_esp32_basic.git
	branch = master
[submodule "courses/iot_basic_course"]
	path = courses/iot_basic_course
	url = https://github.com/fxprime/iot_basic_course.git
	branch = main

[submodule "courses/uno_watering_tutorial"]
	path = courses/uno_watering_tutorial
	url = git@github.com:fxprime/uno_watering_tutorial.git
	branch = main
[submodule "courses/esp32_loadcell_set_doc"]
	path = courses/esp32_loadcell_set_doc
	url = git@github.com:fxprime/esp32_loadcell_set_doc.git
	branch = main
